################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DomainDrivenDesign.Application/bin
/src/DomainDrivenDesign.Application/obj
/src/DomainDrivenDesign.Dekra/bin
/src/DomainDrivenDesign.Dekra/obj
/src/DomainDrivenDesign.Domain/bin
/src/DomainDrivenDesign.Domain/obj
/src/DomainDrivenDesign.Interface/bin
/src/DomainDrivenDesign.Interface/obj
/src/DomainDrivenDesign.Persistence/bin
/src/DomainDrivenDesign.Persistence/obj
/.vs
/src/DomainDrivenDesign.Dekra.UnitTest/bin
/src/DomainDrivenDesign.Dekra.UnitTest/obj
TODO.txt
